@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter;
  box-sizing: border-box;  
}

.navbar-container{
  display: flex;
  align-items: center;
  background-color: #F8444F;
  width: 100%;
  height: 10vh;
}

.header-container{
  border-radius:0.25rem;
  width: 99%;
  height:7vh;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:0.75rem;
  background-color: #fff;
  margin-right: auto;
  margin-left: auto;
}

.logo-container{
  object-fit: cover;
  max-width:100%;
}

.mobile-logo{
  display:none;
  object-fit: cover;
  max-width:100%;
  
}

.tabs-container{
  display: flex;
}

.tabs-container .link{
  padding: 0.25em 0.5em;
  background-color: transparent;
}

.tabs-container .link:hover{
  background-color:#F8444F;
  color: #fff;
  border-radius: 0.2em;
  padding:0.25em 0.5em;
}

.symbol-user-container{
  display:flex;
  gap:2em;
}

.user-button{
  border: 0.1rem solid #C4C4C4;
  border-radius: 0.2rem;
  min-width:max-content;
  padding:0.2rem 0.4rem;
  
}

.symbol-container{
  display:flex;
  border:0.1em solid #C4C4C4;
  height:2em;
  border-radius: 0.3em;
}

.symbol-container img{
  object-fit: cover;  
  text-align: center;
  min-width:min-content;
  margin-top:0.1em;
  padding:0.25em;
}

.symbol-container div:hover{
  background-color:#F8444F;
}

.vertical-line{
  width:0.1rem;
  display:table-cell;
  height:100%;
  background-color:#C4C4C4;
 } 

.burger-container{
  color:#fff;
  display:none;
}

.cross-container{
  display:none;
}

@media (max-width: 768px){
  
  .header-container{
    background-color:#F8444F;
  }
  .mobile-logo{
    display:block;
  }
  .user-button,.tabs-container,.symbol-container,.web-logo{
    display:none;
  }

  .burger-container{
    position: absolute;
    display: block;
    right:5%;
  }
  .burger-container.isOpen{
    display: none;
  }
  
  .tabs-container.isOpen{
    background-color:#fff;
    display: grid;
    position: absolute;
    width:100%;
    height:30%;
    text-align: center;
    align-items: center;
    align-content: center;
    row-gap: 0.5em;
    justify-content: center;
    top:10%;
    left:0;
  }

  .symbol-container.isOpen{
    position:absolute;
    display:flex;
    width: max-content;
    inset: 0;
    margin: auto;
  }

  .cross-container{
    display:block;
    margin-bottom:2rem;
    position: absolute;
    right:2%;
    top:2%;
    color:#F8444F;
    font-size:large;
  }

  .user-button{
    display: block;
    position: absolute;
    color:#fff;
    border:none;
    top:3%;
    right:15%;
    content:'Log In'
  }
}
